name: Build and Push Pre-Release Multi-Arch Docker Image

on:
  release:
    types: [prereleased]

# Ensures that only the latest prerelease workflow is running
concurrency:
  group: prereleased-workflow
  cancel-in-progress: true

jobs:
  pre-release-build-and-publish:
    runs-on: ubuntu-latest
    steps:
      - name: Check Out Repo
        uses: actions/checkout@v4
      
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Extract metadata for pre-release
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/troykelly/emby-dedupe
          tags: |
            type=semver,pattern={{version}}-prerelease
            type=semver,pattern={{major}}.{{minor}}-prerelease
            type=semver,pattern={{major}}-prerelease
            type=ref,event=tag
            type=sha,enable=true

      - name: Build and Push Docker Pre-Release Image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          platforms: linux/amd64,linux/arm64,linux/arm/v7,linux/arm/v6
